body{
    margin: 0;
    padding: 0;
}

.body-container{
    display: flex;
    flex-direction: column;
}

.main-page{
    background-color: whitesmoke;
    padding: 112px 0 72px 0;
}

.main-page-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 980px;
    padding: 20px 0;
    margin: 0 auto;
}

.login-message{
    flex-basis: 580px;
    margin: 0;
    padding-right: 32px;
    text-align: left;
}

.login-form-section{
    display: flex;
    flex-direction: column;
    height: 496px;
    width: 396px;
    justify-content: center;
    text-align: center;

}

/* the log-in message sections */
.fb-logo{
    padding: 112px 0 16px 0;
}

.fb-logo img{
    margin: -28px;
}

.login-message h2{
    padding: 0 0 20px 0;
    margin: 0;
    font-size: 28px;
    font-weight: normal;
}

/* the log-in form sections */
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0 0 0;
    padding: 20px 0 28px 0;
}

.cridentials-box{
    padding: 6px;

}

.login-button-box{
    padding-top: 6px;
}

.forgot-password-box{
    color: dodgerblue;
    margin-top: 16px;
    text-align: center;

}

.horizontal-line{
    color: whitesmoke;
    margin: 20px 16px;

}

.signup-box{
    color: white;
    padding-top: 6px;
    font-size: 12px;

}

input[type=text], input[type=password]{
    width: 330px;
    padding: 14px 16px;
    border: 6px none;
    border-radius: 6px;
    font-size: 17px;
    
}


.login-button{
    color: white;
    background-color: dodgerblue;
    width: 330px;
    padding: 0 16px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    line-height: 48px;

}

.signup-button{
    color: white;
    background-color: limegreen;
    width: 55%;
    padding: 0 16px;
    border: 1px none;
    border-radius: 6px;
    font-size: 17px;
    font-weight: bold;
    line-height: 48px;
}






